*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --desaturatedDarkCyan: hsl(180, 29%, 50%);
  --lightGrayishCyanBackground: hsl(180, 52%, 96%);
  --lightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --darkGrayishCyan: hsl(180, 8%, 52%);
  --veryDarkGrayishCyan: hsl(180, 14%, 20%);
  --white: hsl(0,100%,100%);
}
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
  background-color: var(--lightGrayishCyanBackground);
}

/* Header */
header {
  background: var(--desaturatedDarkCyan);
}
header img {
  width: 100%;
}

/* Form */
.form {
  background-color: var(--white);
  max-width: 90vw;
  width: 100%;
  height: 80px;
  margin: -40px auto 50px;
  border-radius: 10px;
  z-index: 5;
  position: relative;
  color: var(--desaturatedDarkCyan);
}
.tag {
  background-color: var(--lightGrayishCyanBackground);
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  margin-right: 20px;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  padding-left: 10px;
}
.cancel-btn {
  background-color: var(--desaturatedDarkCyan);
  padding: 10px;
  margin-left: 10px;
}
.cancel-btn:hover {
  background-color: var(--veryDarkGrayishCyan);
  cursor: pointer;
}
.clear-btn {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.clear-btn:hover {
  text-decoration: underline;
}



/* Section */
section {
  background-color: var(--white);
  padding: 20px;
  max-width: 90vw;
  width: 100%;
  margin: 30px auto;
  position: relative;
  border-radius: 10px;
}
main section:first-of-type, main section:nth-of-type(2) {
  border-left-style: solid;
  border-left-color: var(--desaturatedDarkCyan);
}
section .img {
  width: 120px;
  cursor: pointer;
  margin-right: 30px;
}
.container {
  display: flex;
  align-items: center;
}
.sub-section div:first-child {
  font-weight: 500;
}
.sub-section div:first-child span:first-child {
  color: var(--desaturatedDarkCyan);
  margin-right: 20px;
}
.bg {
  background-color: var(--desaturatedDarkCyan);
  text-transform: uppercase;
  color: var(--white);
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
}
.ft {
  background-color: var(--veryDarkGrayishCyan);
  text-transform: uppercase;
  color: var(--white);
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
.sub-section .position {
  font-weight: 700;
  color: var(--veryDarkGrayishCyan);
  text-transform: capitalize;
  margin: 20px auto;
}
.sub-section div:last-child {
  color: var(--darkGrayishCyan);
  display: flex;
  justify-content: space-between;
}
.sub-section div:last-child span {
  margin-right: 15px;
}
.tags {
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.languages .sub {
  background-color: var(--lightGrayishCyanBackground);
  padding: 10px;
  margin-right: 10px;
  color: var(--desaturatedDarkCyan);
  border-radius: 5px;
}




@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
  section .img {
    width: 100px;
  }
  .bg, .ft {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 15px;
  }
  .form {
    max-width: 95vw;
  }
  section {
    max-width: 95vw;
  }
  section .img {
    width: 80px;
  }
  .bg, .ft, .languages .sub {
    font-size: 12px;
    padding: 8px;
  }
  .sub-section div:first-child span:first-child {
    margin-right: 10px;
  }
  .sub-section div:last-child span {
    margin-right: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    margin-bottom: 100px;
  }
  header img {
    height: 25vh;
  }
  .form {
    max-width: 80vw;
    margin: -140px auto 70px;
  }
  section {
    margin-bottom: 50px;
    max-width: 80vw;
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  section .img {
    width: 70px;
    position: absolute;
    top: -20%;
    transform: translateY(20%);
  }
  .bg, .ft, .languages .sub {
    font-size: 14px;
    padding: 10px;
  }
  .sub-section div:first-child span  {
    margin-right: 20px;
  }
  .sub-section div:last-child span {
    margin-right: 10px;
  }
  .sub-section {
    margin-top: 30px;
  }
  .tags {
    position: static;
    margin-top: 30px;
  }

}

@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
  header {
    margin-bottom: 100px;
  }
  .form {
    max-width: 90vw;
    margin: -140px auto 70px;
  }
  header img {
    height: 25vh;
  }
  section {
    margin-bottom: 50px;
    max-width: 90vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  section .img {
    width: 70px;
    position: absolute;
    top: -20%;
    transform: translateY(20%);
  }
  .sub-section, .tags  {
    font-size: 14px;
  }
  .sub-section div:nth-child(odd) span {
    margin-right: 7px;
    padding: 0;
  }
  .sub-section div:nth-of-type(1) span:nth-of-type(2), .sub-section div:nth-of-type(1) span:nth-of-type(3) {
    padding: 5px;
  }
  .sub-section {
    margin-top: 30px;
  }
  .sub-section div:last-child {
    font-size: 14px;
    padding: 0;
  }
  .tags {
    position: static;
    margin-top: 30px;
  }
  .sub {
    position: relative;
    float: left;
    margin-top: 10px;
  }
  
}