*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --desaturatedDarkCyan: hsl(180, 29%, 50%);
  --lightGrayishCyanBackground: hsl(180, 52%, 96%);
  --lightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --darkGrayishCyan: hsl(180, 8%, 52%);
  --veryDarkGrayishCyan: hsl(180, 14%, 20%);
  --white: hsl(0,100%,100%);
}
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: var(--lightGrayishCyanBackground);
}
header {
  background: var(--desaturatedDarkCyan);
}
header img {
  width: 100%;
}
section {
  background-color: var(--white);
  padding: 20px;
  max-width: 80vw;
  width: 100%;
  margin: 30px auto;
}
section .img {
  width: 150px;
}



@media (min-width: 992px) and (max-width: 1199px) {
  section .img {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section .img {
    width: 90px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  section .img {
    width: 70px;
  }
}

@media (max-width: 575px) {
  section .img {
    width: 30%;
  }
}